<footer class="text-center py-5">
	<div class="container py-md-3">
		<!-- logo -->
		<h2 class="logo2 text-center">
			<a href="index.html">
				<span class="fa fa-leaf"></span> Agro Harvest
			</a>
		</h2>
		<!-- //logo -->
		<!-- address -->
		<div class="contact-left-<footer mt-4">
			<ul>
				<li>
					<p>
						<span class="fa fa-map-marker mr-2"></span>Agriculture Business, 2nd Block, USA
					</p>
				</li>
				<li class="mx-4">
					<p>
						<span class="fa fa-phone mr-2"></span>+12(345) 6789 111.
					</p>
				</li>
				<li>
					<p class="text-wh">
						<span class="fa fa-envelope-open mr-2"></span>
						<a href="mailto:info@example.com">Example@gmail.com</a>
					</p>
				</li>
			</ul>
		</div>
		<!-- //address -->
		<!-- social icons -->
		<div class="footercopy-social my-4">
			<ul>
				<li>
					<a href="#">
						<span class="fa fa-facebook-square"></span>
					</a>
				</li>
				<li class="mx-2">
					<a href="#">
						<span class="fa fa-twitter-square"></span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<span class="fa fa-google-plus-square"></span>
					</a>
				</li>
				<li class="mx-2">
					<a href="#">
						<span class="fa fa-linkedin-square"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa fa-rss-square"></span>
					</a>
				</li>
				<li class="ml-2">
					<a href="#">
						<span class="fa fa-pinterest-square"></span>
					</a>
				</li>
			</ul>
		</div>
		<!-- //social icons -->
		<!-- copyright -->
		<div class="w3l-copy text-center">
			<p class="text-da">© 2019 Agro Harvest. All rights reserved | Design by
				<a href="http://w3layouts.com/">W3layouts</a>
			</p>
		</div>
		<!-- //copyright -->
	</div>
</footer>
