<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<div class="container py-sm-3">
    <h3 class="heading mb-sm-5 mb-4 text-center"> Login</h3>
    
    <form action="#" method="post">
       <div class="row">
            <div class="col-md-6 contact-left">
                <form>
                    <input name="first">
                    <input name="password" >
                    <button>Submit</button>
                  </form>
                
                <br><br>
                <button class="btn ">SignIn</button>
                <br><br>
                <a routerLink="/signup">New Registeration</a>
            </div>
    
            
        </div>
    </form>
    <!-- map -->
   
    <!-- //map -->
</div>
