<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		<input type="radio" name="slides" id="slides_4" />
		<ul>
			<li>
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Harvesting</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top1">
					<div class="overlay1">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Farming</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Cultivating</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top3">
					<div class="overlay1">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Harvesting</h3>
								<h4 class="text-wh mx-auto my-4">Cultivating new crops to make farmers increase profits</h4>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a href="about.html" class="button-style mt-sm-5 mt-4">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_4"></label>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- about -->
<section class="about py-5">
	<div class="container py-md-4">
		<h3 class="heading text-center mb-4">Best Harvesting Agriculture Company</h3>
		<p class="about-text mx-auto text-center">Tempor Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua nostrud exerci sed nostrud exerci ipsum dolor ut.</p>
		<div class="feature-grids row mt-5 text-center">
			<div class="col-lg-4 col-md-6 ">
				<div class="bottom-gd px-2 text-center">
					<div class="f-icon">
						<span class="fa fa-leaf" aria-hidden="true"></span>
					</div>
					<h3 class="mt-4"> Cereals</h3>
					<p class="mt-3">Integer sit amet mattis quam, sit amet ul tricies velit. Praesent ullam corper dui turpis dolor sit amet quam.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
				<div class="bottom-gd px-2 text-center">
					<div class="f-icon">
						<span class="fa fa-apple" aria-hidden="true"></span>
					</div>
					<h3 class="mt-4"> Fruits & Berries</h3>
					<p class="mt-3">Integer sit amet mattis quam, sit amet ul tricies velit. Praesent ullam corper dui turpis dolor sit amet quam.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				<div class="bottom-gd px-2 text-center">
					<div class="f-icon">
						<span class="fa fa-pagelines" aria-hidden="true"></span>
					</div>
					<h3 class="mt-4">Vegetables</h3>
					<p class="mt-3">Integer sit amet mattis quam, sit amet ul tricies velit. Praesent ullam corper dui turpis dolor sit amet quam.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- Why Choose Us -->
<section class="serives-agile py-5" id="works">
	<div class="container py-md-5">
		<h3 class="heading mb-5 text-center"> Why Choose Us</h3>
		<div class="welcome-bottom text-center">
			<div class="welcome-grid">
				<span class="fa fa-apple"></span>
				<h4 class="my-3">Grains </h4>
				<p>quis nostrum ullamet corporis suscipit.</p>
			</div>
			<div class="welcome-grid">
				<span class="fa fa-skyatlas"></span>
				<h4 class="my-3">Seed Traits</h4>
				<p>quis nostrum ullamet corporis suscipit.</p>
			</div>

			<div class="welcome-grid mt-md-0 mt-5">
				<span class="fa fa-yelp"></span>
				<h4 class="my-3">Safety</h4>
				<p>quis nostrum ullamet corporis suscipit.</p>
			</div>
			<div class="welcome-grid mt-lg-0 mt-md-4 mt-5">
				<span class="fa fa-viadeo"></span>
				<h4 class="my-3">Cultivation</h4>
				<p>quis nostrum ullamet corporis suscipit.</p>
			</div>
			<div class="welcome-grid mt-lg-0 mt-md-4 mt-5">
				<span class="fa fa-pagelines"></span>
				<h4 class="my-3">Environment</h4>
				<p>quis nostrum ullamet corporis suscipit.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- Why Choose Us -->

<!-- core values -->
<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Core Values</h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">	
				<img src="images/core.jpg" class="img-fliud" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h4 class="mt-4">Improving Agriculture, Improving Lives, Cultivating New Crops To Make Farmers Increase Profit.</h4>
				<p class="mt-3">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis dolor sit amet quam.
				Nulla commodo gravida porttitor. Aenean posuere lacus quis leo imperdiet laoreet. Proin vulputate semper odio quam. Nulla commodo 
				gravida porttitor. Aenean posuere lacus quis.</p>
			</div>
		</div>
	</div>
</section>
<!-- //core values -->
	
<!-- text -->
<section class="background-img">
	<div class="overlay-clr py-5">
		<div class="container py-md-3">
			<div class="row core-grids">
				<div class="col-lg-4 bg-left">	
					<h4 class="">We Are Innovators in Agricultural Business. Our goal is to bring healthy organic food to every People.</h4>
				</div>
				<div class="col-lg-5 col-md-7 bg-middle mt-lg-0 mt-4">	
					<p class="">Integer sit amet mattis quam, sit amet dol ultricies velit. Praesent ullam corper duits turpis dolor sit amet quam.
					Nulla comodol gravida porttitor. Aenean posuere lacusnt quis leo imperdiet laoreet. Proin vulputat.</p>
					<p class="mt-3">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis dolor sit amet quam.
					Nulla sed commodo gravida porttitor.</p>
				</div>
				<div class="col-lg-3 col-md-5 bg-right mt-lg-0 mt-4">	
					<ul>
						<li><span class="fa fa-pagelines"></span> Crop Cultivation</li>
						<li><span class="fa fa-pagelines"></span> Farming Land</li>
						<li><span class="fa fa-pagelines"></span> Harvesting Crops</li>
						<li><span class="fa fa-pagelines"></span> Improving Agriculture</li>
						<li><span class="fa fa-pagelines"></span> Innovators in Agricultural business</li>
						<li><span class="fa fa-pagelines"></span> Agricultural Robots</li>
						<li><span class="fa fa-pagelines"></span> Grains and Oil seeds</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //text -->

<!-- Products & Services -->
<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Products and Services</h3>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">	
				<img src="images/s1.jpg" class="img-fliud" alt="" />
				<div class="blog-info">
					<h4>Farming Land <span class="fa fa-pagelines"></span></h4>
					<p class="mt-2">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis sit.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">	
				<img src="images/s2.jpg" class="img-fliud" alt="" />
				<div class="blog-info">
					<h4>Cultivation <span class="fa fa-pagelines"></span></h4>
					<p class="mt-2">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis sit.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">
				<img src="images/s3.jpg" class="img-fliud" alt="" />
				<div class="blog-info">
					<h4>Harvesting <span class="fa fa-pagelines"></span></h4>
					<p class="mt-2">Integer sit ut amet mattis quam, sit amet ultricies velit. Praesent ullam corper dui turpis sit.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Products & Services -->

<!-- text -->
<section class="text py-5">
	<div class="container py-md-3 text-center">		
		<div class="row">
			<div class="col-12">
				<h3 class="mb-4 heading">The Best Time To <span>Plant The Tree</span> Is Now.</h3>
				<p>Sed ut perspiciatis unde omnis natus error dolor volup tatem ed accus antium dolor emque
				laudantium, totam rem aperiam, eaqu ipsa quae ab illo quasi architi ecto beatae vitae dicta
				sunt dolor ipsum.</p>
				<a href="services.html" class="btn mr-3"> Our Services</a>
				<a href="contact.html" class="btn btn1"> Contact Us </a>
			</div>		
		</div>		
	</div>		
</section>
